$header-bg-dark: #26282b;
$button-blue: #3375d6;
$button-dark: #2c2c2c;
$contrast-dark: #3a3d40;
$bg-dark: #232324;
$text-dark: #cacccf;
$text-contrast-dark: #9c9ea1;
$main-bg-dark: #161617;
$input-dark: #2c2c2d;
$error-border: rgba(255, 0, 0, 0.5);
$error-text: rgba(255, 0, 0, 0.8);
