@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/containers";

.header {
  width: 100%;
  background: $header-bg-dark;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 15px;

    @media (min-width: $md) {
      padding: 0 10px;
    }
  }

  &-input {
    display: none;
    border-radius: 10px;
    background: $contrast-dark;
    padding: 8px 20px;
    color: $text-dark;
    outline: none;

    @media (min-width: $md) {
      display: block;
      width: 460px;
    }

    @media (min-width: $lg) {
      width: 640px;
    }
  }

  &-auth {
    display: flex;
  }

  &-login,
  &-register {
    display: none;
    padding: 10px 16px;
    background-color: $button-dark;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.02),
      0 1px 3px rgba(0, 0, 0, 0.14);
    border-radius: 10px;

    @media (min-width: $sm) {
      display: block;
    }
  }

  &-register {
    margin-left: 10px;
  }

  &-avatar {
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      display: none;
      margin-left: 10px;

      @media (min-width: $md) {
        display: block;
      }
    }
  }

  &-img {
    display: none;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;

    @media (min-width: $md) {
      display: block;
    }
  }
}
